body {
  font-weight: 900;
}
.gallery {
  color: black;
}

.gallery :hover {
  color: rgb(58, 106, 135);
  cursor: pointer;
}

.projects {
  color: rgb(58, 106, 135);
}

.project-title {
  margin-left: 3%;
  font-size: 1fr;
  font-weight: 400;
}

.project-text {
  display: grid;
  margin-left: 3%;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  max-width: 1500px;
}

.project-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
